@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';
@import 'libs';
 .game{
   border-bottom: none;
 }






h2 {
  text-align: center;
}
.actions {
  text-align: center;
}
.ai {
  background-image: url('../images/ship-svgrepo-com.svg');
}
.container-table{
  margin: 50px auto;
  width: 300px;
}
.cell {
  background-color: white;
  border: 2px solid black;
  float: left;
  height: 96px;
  width: 96px;
}
.cell:hover {
  border-color: red;
}
.player {
 background-image: url("../images/captains_wheel.svg");
}
@import 'media';